# SÃ©ries

In [8]:
import pandas as pd

valores = [12, 45, 79, 24, 65]
se = pd.Series(valores)

In [9]:
se

0    12
1    45
2    79
3    24
4    65
dtype: int64

In [23]:
indice = ['Linha ' + str(i) for i in range(5)]

In [24]:
indice

['Linha 0', 'Linha 1', 'Linha 2', 'Linha 3', 'Linha 4']

In [25]:
se = pd.Series(data = valores, index = indice)
se

Linha 0    12
Linha 1    45
Linha 2    79
Linha 3    24
Linha 4    65
dtype: int64

In [27]:
data = {'Linha ' + str(i) : i + 1 for i in range(5)}
data

{'Linha 0': 1, 'Linha 1': 2, 'Linha 2': 3, 'Linha 3': 4, 'Linha 4': 5}

In [28]:
se = pd.Series(data)
se

Linha 0    1
Linha 1    2
Linha 2    3
Linha 3    4
Linha 4    5
dtype: int64

In [30]:
se1 = se + 3
se1

Linha 0    4
Linha 1    5
Linha 2    6
Linha 3    7
Linha 4    8
dtype: int64

In [31]:
se2 = se + se1
se2

Linha 0     5
Linha 1     7
Linha 2     9
Linha 3    11
Linha 4    13
dtype: int64

# DataFrames

In [35]:
dadosDF = [[2,3,4,5],
          [3,6,7,9],
          [12,67,97,102]]
dadosDF

[[2, 3, 4, 5], [3, 6, 7, 9], [12, 67, 97, 102]]

In [36]:
df1 = pd.DataFrame(data = dadosDF)
df1

    0   1   2    3
0   2   3   4    5
1   3   6   7    9
2  12  67  97  102

In [38]:
indice2 = ['Linha ' + str(i) for i in range (3)]
indice2

['Linha 0', 'Linha 1', 'Linha 2']

In [39]:
df1 = pd.DataFrame(data = dadosDF, index = indice2)
df1

          0   1   2    3
Linha 0   2   3   4    5
Linha 1   3   6   7    9
Linha 2  12  67  97  102

In [40]:
colunas = ['Coluna ' + str(i) for i in range (4)]
colunas

['Coluna 0', 'Coluna 1', 'Coluna 2', 'Coluna 3']

In [41]:
df1 = pd.DataFrame(data = dadosDF, index = indice2, columns = colunas)
df1

         Coluna 0  Coluna 1  Coluna 2  Coluna 3
Linha 0         2         3         4         5
Linha 1         3         6         7         9
Linha 2        12        67        97       102

## Criando DataFrame de Dicionarios

In [66]:
dic = {'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
        'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
        'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9},
      'Coluna 3': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}
dic

{'Coluna 0': {'Linha 0': 1, 'Linha 1': 4, 'Linha 2': 7},
 'Coluna 1': {'Linha 0': 2, 'Linha 1': 5, 'Linha 2': 8},
 'Coluna 2': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9},
 'Coluna 3': {'Linha 0': 3, 'Linha 1': 6, 'Linha 2': 9}}

In [67]:
df2 = pd.DataFrame(dic)
df2

         Coluna 0  Coluna 1  Coluna 2  Coluna 3
Linha 0         1         2         3         3
Linha 1         4         5         6         6
Linha 2         7         8         9         9

## Criando DataFrame de Tuplas

In [68]:
tupla = [(4,9,7,4), (23,76,98,33),(21,54,23,76)]
df3 = pd.DataFrame(data = tupla, index = indice2, columns = colunas)
df3

         Coluna 0  Coluna 1  Coluna 2  Coluna 3
Linha 0         4         9         7         4
Linha 1        23        76        98        33
Linha 2        21        54        23        76

In [69]:
# Alterando valores do DF
df1[df1 > 0] = 'A'
df2[df2 > 0] = 'B'
df3[df3 > 0] = 'C'

df1

        Coluna 0 Coluna 1 Coluna 2 Coluna 3
Linha 0        A        A        A        A
Linha 1        A        A        A        A
Linha 2        A        A        A        A

In [70]:
df2

        Coluna 0 Coluna 1 Coluna 2 Coluna 3
Linha 0        B        B        B        B
Linha 1        B        B        B        B
Linha 2        B        B        B        B

In [71]:
df3

        Coluna 0 Coluna 1 Coluna 2 Coluna 3
Linha 0        C        C        C        C
Linha 1        C        C        C        C
Linha 2        C        C        C        C

In [73]:
df4 = pd.concat([df1, df2, df3])
df4

        Coluna 0 Coluna 1 Coluna 2 Coluna 3
Linha 0        A        A        A        A
Linha 1        A        A        A        A
Linha 2        A        A        A        A
Linha 0        B        B        B        B
Linha 1        B        B        B        B
Linha 2        B        B        B        B
Linha 0        C        C        C        C
Linha 1        C        C        C        C
Linha 2        C        C        C        C

In [74]:
df4 = pd.concat([df1, df2, df3], axis = 1)
df4

,Coluna 0,Coluna 1,Coluna 2,Coluna 3,Coluna 0,Coluna 1,Coluna 2,Coluna 3,Coluna 0,Coluna 1,Coluna 2,Coluna 3
Linha 0,A,A,A,A,B,B,B,B,C,C,C,C
Linha 1,A,A,A,A,B,B,B,B,C,C,C,C
Linha 2,A,A,A,A,B,B,B,B,C,C,C,C