In [1]:
import pandas as pd

In [2]:
data = [0.85, None, None, 0.53, 0.62, None, None, 0.59, 0.6, None, 0.7]
s = pd.Series(data)
s

0     0.85
1      NaN
2      NaN
3     0.53
4     0.62
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [3]:
#Interpolação
s.fillna(0)

0     0.85
1     0.00
2     0.00
3     0.53
4     0.62
5     0.00
6     0.00
7     0.59
8     0.60
9     0.00
10    0.70
dtype: float64

In [4]:
s

0     0.85
1      NaN
2      NaN
3     0.53
4     0.62
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [5]:
s.fillna(method = 'ffill')
# metodo 'ffill' preenche o campo nulo com o valor válido anterior

0     0.85
1     0.85
2     0.85
3     0.53
4     0.62
5     0.62
6     0.62
7     0.59
8     0.60
9     0.60
10    0.70
dtype: float64

In [6]:
s.fillna(method = 'bfill')
# metodo 'bfill' preenche o campo nulo com o valor válido posterior

0     0.85
1     0.53
2     0.53
3     0.53
4     0.62
5     0.59
6     0.59
7     0.59
8     0.60
9     0.70
10    0.70
dtype: float64

In [7]:
s

0     0.85
1      NaN
2      NaN
3     0.53
4     0.62
5      NaN
6      NaN
7     0.59
8     0.60
9      NaN
10    0.70
dtype: float64

In [8]:
s.fillna(s.mean())
# metodo 'bfill' preenche o campo nulo com a média da serie

0     0.850000
1     0.648333
2     0.648333
3     0.530000
4     0.620000
5     0.648333
6     0.648333
7     0.590000
8     0.600000
9     0.648333
10    0.700000
dtype: float64