# Tratando Dados Faltantes

In [33]:
import pandas as pd

dados = pd.read_csv('dados/aluguelResidencial.csv')

dados.head(7)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
4,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
5,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
6,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN

In [5]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22580 entries, 0 to 22579
Data columns (total 9 columns):
Tipo          22580 non-null object
Bairro        22580 non-null object
Quartos       22580 non-null int64
Vagas         22580 non-null int64
Suites        22580 non-null int64
Area          22580 non-null int64
Valor         22571 non-null float64
Condominio    20765 non-null float64
IPTU          15795 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.6+ MB

In [34]:
#Selecionando todos os dados nulos para 'Valor'
dados[dados['Valor'].isnull()]
dados.shape

(22580, 9)

In [35]:
#Deletando todos os dados de valor nulo
dados.dropna(subset = ['Valor'], inplace = True)

In [36]:
dados.shape

(22571, 9)

In [37]:
dados[dados['Condominio'].isnull()].shape[0]

1813

In [38]:
selecaoApartamentosCondominioNulo = (dados['Tipo'] == 'Apartamento') & (dados['Condominio'].isnull())
A = dados.shape[0]
dados = dados[~selecaoApartamentosCondominioNulo]
B = dados.shape[0]

A - B

745

In [39]:
dados[dados['Condominio'].isnull()].shape[0]

1068

In [40]:
dados.fillna(0, inplace = True)

In [42]:
dados.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 21826 entries, 0 to 22579
Data columns (total 9 columns):
Tipo          21826 non-null object
Bairro        21826 non-null object
Quartos       21826 non-null int64
Vagas         21826 non-null int64
Suites        21826 non-null int64
Area          21826 non-null int64
Valor         21826 non-null float64
Condominio    21826 non-null float64
IPTU          21826 non-null float64
dtypes: float64(3), int64(4), object(2)
memory usage: 1.7+ MB

In [43]:
dados.to_csv('dados/aluguelResidencialLimpo.csv', index = False)