In [1]:
import pandas as pd

data = [[1,2,3,4],
       [5,6,8,9],
       [54,78,98,32]
       ]

data

[[1, 2, 3, 4], [5, 6, 8, 9], [54, 78, 98, 32]]

In [3]:
#Criando lista de String
list("321")

['3', '2', '1']

In [5]:
df = pd.DataFrame(data, index = list("321"), columns = list("ZXDT"))
df

    Z   X   D   T
3   1   2   3   4
2   5   6   8   9
1  54  78  98  32

In [8]:
# Organizando pelo indice das linhas
df.sort_index(inplace = True)
df

    Z   X   D   T
1  54  78  98  32
2   5   6   8   9
3   1   2   3   4

In [9]:
df.sort_index(inplace = True, axis = 1)
df

    D   T   X   Z
1  98  32  78  54
2   8   9   6   5
3   3   4   2   1

In [17]:
df.sort_values(by = ['D', 'Z'], inplace = True)
df

    T   Z   X   D
3   4   1   2   3
2   9   5   6   8
1  32  54  78  98

In [13]:
df.sort_values(by = '1', axis = 1, inplace = True)
df

    T   Z   X   D
3   4   1   2   3
2   9   5   6   8
1  32  54  78  98